
html {
    background: #e6e9e9;
}

body {
    background: white;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 700px;
    padding: 2em 2em 4em;
}
h1 {
    font-size: 50px;
    font-style: bold;
    text-align: center;
    color: black;
}
img {
    display: block;
    margin: 0 auto;
    padding: 1px;
    border-style: ridge;
    border-width: 20px;
    border-color: blue;
    caption-side: bottom;
}
p{
    border-style: dotted;
    border-color: white;
    border-width: 5px;
    color: black;
    text-align: center;
    font-family: sans-serif, "times new roman", "comic sans";
    font-style: oblique;
}

